fastapi
uvicorn
pydantic
PyPDF2
spacy
torch
transformers
pymongo
sentence-transformers
qdrant-client
certifi
numpy
SpeechRecognition
soundfile
pyttsx3
symspellpy
scikit-learn
pandas
plotly
langchain-groq
langchain-core
python-multipart